
input.ng-invalid {
    border-color: red;
    outline-color: red;
}

.error {
    color: red;
}

.container {
    width: 1200px;
}

.canvas {
    margin-top: 50px;
}

.testCase {
    font-size: 12pt;
}

.label-danger > a {
    color: #000000;
    text-decoration: underline;
}

#workloadSelect {
    width: auto;
    margin-bottom: 5px;
}








