<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Scheduler</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div ng-app="app" ng-controller="Ctrl" class="container">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1>Scheduler</h1>
                <p>Non-Preemptive Earliest Deadline Scheduling</p>
                <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
            </div>
        </div>

        <h4>Workload Tasks</h4>
        <div>
            <form name="workloadForm" novalidate>
                <!-- table -->
                <table class="table table-bordered table-hover table-condensed">
                    <tr style="font-weight: bold">
                        <td style="width:40%">Task Name</td>
                        <td style="width:10%">Period</td>
                        <td style="width:10%">WCET</td>
                        <td style="width:10%">Offset</td>
                        <td style="width:10%">Deadline</td>
                        <td style="width:10%"><span>Action</span></td>
                    </tr>
                    <tr ng-repeat="task in tasks">
                        <td>
                            <input type="text" name="name" ng-model="task.name" required/>
                            <p class="error" ng-show="workloadForm.name.$invalid">Not valid</p>
                        </td>
                        <td>
                            <input type="number" name="period{{$index}}" min="1" ng-model="task.period" required/>
                            <p class="error" ng-show="workloadForm.period{{$index}}.$invalid">Not valid</p>
                        </td>
                        <td>
                            <input type="number" name="WCET{{$index}}" min="1"
                                   ui-validate="'$value <= task.period'"
                                   ui-validate-watch="'task.period'"
                                   ng-model="task.WCET"
                                   required/>
                            <p class="error" ng-show="workloadForm.WCET{{$index}}.$invalid">Not valid</p>
                        </td>
                        <td>
                            <input type="number" name="offset{{$index}}" min="0"
                                   ui-validate="'$value < task.period'"
                                   ui-validate-watch="'task.period'"
                                   ng-model="task.offset"
                                   />
                            <p class="error" ng-show="workloadForm.offset{{$index}}.$invalid">Not valid</p>
                        </td>
                        <td>
                            <input type="number" name="deadline{{$index}}" min="0"
                                   ui-validate="'$value <= task.period'"
                                   ui-validate-watch="'task.period'"
                                   ng-model="task.deadline"
                                   />
                            <p class="error" ng-show="workloadForm.deadline{{$index}}.$invalid">Not valid</p>
                        </td>
                        <td><button type="button" class="btn btn-danger pull-right" ng-click="deleteTask(task)">Remove Task</button></td>
                    </tr>
                </table>

                <!-- buttons -->
                <div class="btn-edit">
                    <button type="button" class="btn btn-danger pull-right" ng-click="addTask()">Add Task</button>
                    <button type="button" ng-disabled="workloadForm.$invalid" ng-click="schedule()" class="btn btn-primary">Schedule</button>
                </div>
            </form>

        </div>

        <div class="canvas">
            <canvas id="schedule" width="1200"></canvas>
        </div>

        <h4>Verification</h4>
        <div ng-repeat="test in tests">
            {{test.test}}
            <ul ng-repeat="(key,result) in test.results">
                {{key}} - {{result}}
            </ul>
        </div>

        <hr>

        <footer>

      </footer>
    </div>
        <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/validate.js"></script>
        <script src="js/non-preemptive-static-scheduler.js"></script>
        <script src="js/schedule-checker.js"></script>
        <script src="js/schedule-render.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
