<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Scheduler</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div ng-app="app" ng-controller="Ctrl" class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="well well-lg">
                        <h1>Scheduler</h1>
                        <p>Non-Preemptive Deadline Monotonic Scheduling</p>
                        <p><a class="btn btn-primary btn-lg" href="/about.html">Learn more &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-6"  class="pull-right" >
                <just-gage id="test1" min=0 max=100 value="cpu_utilization" title="CPU Utilization" label="%"></just-gage>
                <div ng-if="schedulable">
                    <h3 style="text-align:center;"><span class="label label-success">Schedulable - All Systems Go!</span></h3>
                </div>
                <div ng-if="!schedulable">
                    <h3 style="text-align:center;"><span class="label label-danger">Not Schedulable - Hope you packed your 'chute</span></h3>
                </div>
            </div>
        </div>

        <div>
            <form name="workloadForm" novalidate>

                <!-- table -->
                <table class="table table-bordered table-hover table-condensed">
                    <tr style="font-weight: bold">
                        <td style="width:40%">Task Name</td>
                        <td style="width:10%">Period</td>
                        <td style="width:10%">WCET</td>
                        <td style="width:10%">Offset</td>
                        <td style="width:10%">Deadline</td>
                        <td style="width:10%"><span>Action</span></td>
                    </tr>
                    <tr ng-repeat="task in tasks | orderBy:'id'">
                        <td>
                            <input type="text" name="name" ng-model="task.name" required/>
                            <p class="error" ng-show="workloadForm.name.$invalid">Not valid</p>
                        </td>
                        <td>
                            <input type="number" name="period{{task.id}}" min="1" ng-model="task.period" required/>
                            <p class="error" ng-show="workloadForm.period{{task.id}}.$invalid">Not valid</p>
                        </td>
                        <td>
                            <input type="number" name="WCET{{task.id}}" min="1"
                                   ui-validate="'$value <= task.period'"
                                   ui-validate-watch="'task.period'"
                                   ng-model="task.WCET"
                                   required/>
                            <p class="error" ng-show="workloadForm.WCET{{task.id}}.$invalid">Not valid</p>
                        </td>
                        <td>
                            <input type="number" name="offset{{task.id}}" min="0"
                                   ui-validate="'$value < task.period'"
                                   ui-validate-watch="'task.period'"
                                   ng-model="task.offset"
                                   required/>
                            <p class="error" ng-show="workloadForm.offset{{task.id}}.$invalid">Not valid</p>
                        </td>
                        <td>
                            <input type="number" name="deadline{{task.id}}" min="0"
                                   ui-validate="'$value <= task.period'"
                                   ui-validate-watch="'task.period'"
                                   ng-model="task.deadline"
                                   required/>
                            <p class="error" ng-show="workloadForm.deadline{{task.id}}.$invalid">Not valid</p>
                        </td>
                        <td><button type="button" class="btn btn-danger pull-right" ng-click="deleteTask(task)">Remove Task</button></td>
                    </tr>

                </table>

                <!-- buttons -->
                <div class="btn-edit">
                    <button type="button" class="btn btn-danger" ng-click="addTask()">Add Task</button>
                </div>
            </form>

        </div>

        <hr>
        <h3><span class="glyphicon glyphicon-list"></span> Schedule</h3>
        <hr>
        <div class="canvas">
            <canvas id="schedule" width="1200"></canvas>
        </div>

        <hr>
        <h3><span class="glyphicon glyphicon-ok-circle"></span> Verification</h3>
        <hr>

        <div>
            <span class="testCase">
                <span ng-show="cpu_utilization <= 100" class="label label-info"><span class="glyphicon glyphicon-thumbs-up"></span></span>
                <span ng-show="cpu_utilization > 100" class="label label-danger"><span class="glyphicon glyphicon-thumbs-down"></span></span>
                CPU Utilization <= 100%
            </span>
        </div>
        <div>
            <span class="testCase">
                <span ng-show="check_no_jobs_unscheduled.length == 0" class="label label-info"><span class="glyphicon glyphicon-thumbs-up"></span></span>
                <span ng-show="check_no_jobs_unscheduled.length > 0" class="label label-danger"><span class="glyphicon glyphicon-thumbs-down"></span></span>
                No Jobs Unscheduled
                <ul ng-show="check_no_jobs_unscheduled.length > 0">
                    <li ng-repeat="unscheduled in check_no_jobs_unscheduled">
                        <span>Task <span class="label label-danger">{{unscheduled.task}}</span> missed a scheduled job.</span>
                    </li>
                </ul>
            </span>
        </div>
        <div>
            <span class="testCase">
                <span ng-show="check_no_jobs_overlap" class="label label-info"><span class="glyphicon glyphicon-thumbs-up"></span></span>
                <span ng-show="!check_no_jobs_overlap" class="label label-danger"><span class="glyphicon glyphicon-thumbs-down"></span></span>
                No Jobs Overlap
            </span>
        </div>
        <div>
            <span class="testCase">
                <span ng-show="check_job_intervals" class="label label-info"><span class="glyphicon glyphicon-thumbs-up"></span></span>
                <span ng-show="!check_job_intervals" class="label label-danger"><span class="glyphicon glyphicon-thumbs-down"></span></span>
                Schedule Reserves Enough Time for WCET
            </span>
        </div>
        <div>
            <span class="testCase">
                <span ng-show="check_each_task_executes_in_period.total_result" class="label label-info"><span class="glyphicon glyphicon-thumbs-up"></span></span>
                <span ng-show="!check_each_task_executes_in_period.total_result" class="label label-danger"><span class="glyphicon glyphicon-thumbs-down"></span></span>
                Every Job Executes at its Required Period Between its Required Offset and Deadline Constraints
                <span ng-show="!check_each_task_executes_in_period.total_result">
                   <span ng-repeat="(task, result) in check_each_task_executes_in_period.task_results">
                       <ul ng-repeat="missed_deadline in result.missed_deadlines">
                            <li>
                                <span>A Scheduled Job <span class="label label-danger">Task: {{missed_deadline.task}}, Start: {{missed_deadline.start}}, End: {{missed_deadline.end}}</span> did not meet its start or end time deadlines.</span>
                            </li>
                       </ul>
                   </span>
                </span>
            </span>
        </div>

        <hr>

        <footer>

      </footer>
    </div>
        <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/validate.js"></script>
        <script src="js/vendor/raphael.2.1.0.min.js"></script>
        <script src="js/vendor/justgage.1.0.1.min.js"></script>
        <script src="js/vendor/ng-justgauge.js"></script>
        <script src="js/non-preemptive-static-scheduler.js"></script>
        <script src="js/schedule-checker.js"></script>
        <script src="js/schedule-render.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
